    <div class="card" style="cursor: pointer; cursor: hand;" ng-click="getMovieDetails(movie.title,movie.overview,movie.backdrop_path,movie.release_date,movie.vote_average)">
            <div class="card-image">
                <img class="img-responsive" ng-src="{{movie.backdrop_path!=null?imageSrcPrefix+movie.backdrop_path:imageStaticIconSrc}}">
                </div><!-- card image -->
                
                <div class="card-content" style="display: inline;">
                    <span class="card-title">{{movie.title}}</span>
                          <!-- <jk-rating-stars max-rating="10" rating="movie.vote_average" read-only="true"></jk-rating-stars>-->

                </div><!-- card content -->
        </div>